.url-embedlified {
	max-width: 100% !important;

	iframe {
		max-width: 100%;
	}

	.url-embedlified-title h1 {
		display: block;
		font-size: 1.2em;
		font-weight: bold;
		line-height: 1.1em;
		margin: 0;
		font-weight: bold;
		margin-bottom: 0.5em;
	}

	.url-embedlified-content {
		margin: 0;
		padding: 5px;
		zoom: 1;

		* {
			margin: 0;
			padding: 0;
		}

		img.embedly-thumbnail-small {
			float: left;
			max-width: 35%;
			margin-bottom: 1em;
			margin-right: 18px;
			width: auto;
			height: auto;
			border: none;
		}

	}

	.url-embedlified-footer {
		height: 24px;

		.embedly-powered {
			width: 69px;
			float: right;
		}

		.url-embedlified-media-attribution {
			float: left;
		}
	}

	.url-embedlified-clear {
		clear: both;
		height: 0;
	}
}
